@import url("zero.css");
$color:#d1a954;
@font-face {
    font-family: 'Open Sans Condensed';
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
    font-weight: lighter;
}
*{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    background:#333333;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.conteiner{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width:1350px) {
        max-width: 900px;
    }
    @media (max-width:1200px) {
        max-width: 800px;
    }
    @media (max-width:1100px) {
        max-width: 700px;
    }
    @media (max-width:620px) {
        max-width: 100%;
    }
}
.button{
    display: inline-block;
    border:1px solid $color;
    background:$color;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding: 17px 49px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: .3s;
    &:hover{
        background:transparent;
        color: $color;
    }
}
.section__logo{
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    &::first-letter{
        color:$color;
    }
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    transition: .2s;
    &.scroll{
        background-color: rgb(51, 51, 51);
    }
    .header__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
        .header__burger{
            display: none;
        }
        .menu__nav{
            .messenger{
                display: none;
            }
            .menu__list{
                display: flex;
                .menu__item{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    a{
                        color: #FFFFFF;
                        transition: .3s;
                        position: relative;
                        padding-bottom: 10px;
                        &:hover{
                            color: $color;
                        }
                        &:hover::after{
                            animation: border .3s linear forwards;
                        }
                        &::after{
                            content:"";
                            position: absolute;
                            display: inline-block;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background: $color;
                            transition: .3s;
                        }
                    }
                }
                .menu__item:not(:first-child){
                    margin-left: 60px;
                    @media (max-width:1450px) {
                        margin-left: 30px;
                    }
                }
            }
        }
        .phone{
            position: relative;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            
            a{
                transition: .3s;
                color: #FFFFFF;
                position: relative;
                &:hover{
                    color: $color;
                }
            }
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                background: $color;
            }
        }
    }
}
@keyframes border {
    0% {
      width: 1%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
.main__information{
    background:url("../img/fon.jpg") center/cover no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    aside{
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100vh;
        padding: 86px 60px;
        background: rgba(51, 51, 51, 0.75);
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        span{
            text-transform: uppercase;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            color: #C4C4C4;
        }
        .line{
            display: block;
            width: 2px;
            height: 80px;
            margin: 40px 0;
            background: #c4c4c4;
        }
        .messenger{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                &:hover svg{
                    fill: $color;
                }
                svg{
                        fill: #C4C4C4;
                        display: inline-block;
                        height: content;
                        transition: .3s;
                        width: 26px;
                        height: 30px;
                        &:nth-child(2){
                            width: 15px;
                        }
                }
                &:not(:first-child){
                    margin-top: 30px;
                }
                
            }
        }
    }
    .main__information-body{
        min-height: 100vh;
        display: flex;
        padding: 145px 0;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        gap: 125px;
        .information{
            align-self: center;
            h1{
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 87px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                margin: 50px 0;
            }
        }
        .slider__projects{
            overflow: hidden;
            position: relative;
            width: 370px;
            height: 570px;
            .slick-arrow{
                position: absolute;
                bottom: 0;
                z-index: 2;
                cursor: pointer;
                transition: .3s;
                color:#fff;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                fill:#fff;
                height: 25px;
                svg{
                    padding-top: 5px;
                    width: 40px;
                    height: 20px;
                    transition: .3s;
                }
                &:hover{
                    color:#D1A954;
                }
                &:hover svg{
                    fill:#D1A954;
                }
            }
            .prev{
                left: 0;
            } 
            .next{
                right: 0;
            }
            .slick-list{
                .slick-track{
                    height: 570px;
                    width: 370px;
                    overflow: hidden;
                    display: flex;
                    position: relative;
                    .slider__item{
                        position: relative;
                        img:first-child{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            transition: .3s;
                        }
                        img:last-child{
                            position: absolute;
                            top: 20px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    
}
.about{
    padding: 150px 0;
    &__body{
        &-content{
            display: flex;
            margin-top: 100px;
            .about__item{
                h3{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 40px;
                }
            }
            .about__item:first-child{
                width: 445px;
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .about__item:nth-child(2){
                width: 255px;
                margin: 0 77px 0 30px;
                svg{
                    width: 70px;
                    height: 70px;
                }
                p{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    margin: 15px 0 25px;
                    &::first-word{
                        color:$color;
                    }
                }
            }
        }
    }
}
@keyframes showing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.staging{
    &__body{
        margin-top: 100px;
        display: flex;
        justify-content: flex-end;
        .staging__item{
            position: relative;
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFFFFF;
            transition: .3s;
            opacity: 0;
            &.active{
                animation: showing .3s linear forwards;
            }
            &.first{
                animation-delay: .25s;
            }
            &.second{
                animation-delay: .5s;
            }
            &.third{
                animation-delay: .75s;
            }
            &.fourth{
                animation-delay: 1s;
            }
            &::after{
                content:"";
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                height: 100px;
                width: 100px;
                border-radius: 100%;
                background:url("../img/loop.svg") 50% / 50% no-repeat ,$color;
                opacity: 0;
                transition: .3s;
            }
            &::before{
                content:"";
                background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: .3s;
            }
            &:hover::after{
                opacity: 1;
            }
            &:hover::before{
                opacity: 0;
            }
            h3{
                position: absolute;
                top: 40px;
                left: 40px;
                font-size: 24px;
                line-height: 33px;
                letter-spacing: 0.05em; 
            }
            p{
                position: absolute;
                bottom: 40px;
                left: 40px;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
            }
        }
    }
}
.best{
    &__body{
        background:url("../img/best.jpg") 100% / 100% no-repeat;
        margin: 0 24px;
        display: flex;
        justify-content: center;
        padding: 145px 165px;
        .years{
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 98px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #D1A954;
        }
        .reviews{
            margin-left: 125px;
            align-self: center;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
            color: #FFFFFF;
            svg{
                height: 24px;
            }
        }
    }
}
@media (max-width:1450px) {
    .header{
        .header__body{
            justify-content: center;
            flex-direction: column;
            align-items:center;
            padding: 20px 0;
            .menu__nav{
                .menu__list{
                    .menu__item{
                        font-size: 16px;
                    }
                    .menu__item:not(:first-child){
                        margin-left: 20px;
                    }
                }
            }
            .phone{
                margin-top: 50px;
            }
        }
    }
    .main__information{
        .main__information-body{
            justify-content: center;
            margin-left: -80px;
            .slider__projects{
                display: none;
            }
        }
        
    }
    .about{
        padding: 150px 0;
        &__body{
            &-content{
                justify-content: center;
                .about__item:first-child{
                    width: 445px;
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                }
                .about__item:nth-child(2){
                    margin-top: 50px;
                    width: 255px;
                    margin: 0 0 0 30px;
                    svg{
                        height: 70px;
                    }
                    p{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        margin: 15px 0 25px;
                    }
                }
                .about__item:last-child{
                    display: none;
                }
            }
        }
    }
    .staging{
        &__body{
            margin-top: 100px;
            max-width: 900px;
            justify-content: flex-start; 
            .staging__item{
                h3{
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    font-size: 24px;
                    line-height: 33px;
                    letter-spacing: 0.05em; 
                }
                p{
                    position: absolute;
                    bottom: 40px;
                    left: 40px;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
@media (max-width:1000px) {
    .about{
        padding: 100px 0;
        &__body{
            &-content{
                margin-top: 100px;
                .about__item{
                    h3{
                        font-size: 15px;
                        line-height: 10px;
                        margin-bottom: 30px;
                    }
                }
                .about__item:first-child{
                    width: 445px;
                    p{
                        font-size: 12px;
                        line-height: 130%;
                    }
                }
                .about__item:nth-child(2){
                    width: 255px;
                    svg{
                        width: 70px;
                        height: 70px;
                    }
                    p{
                        font-size: 13px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        margin: 15px 0 25px;
                    }
                }
            }
        }
    }
    .staging{
        &__body{
            .staging__item{
                opacity: 1;
                &.active{
                    opacity: 1;
                    }
            }
        }
    }
}
@media (max-width:940px){
    .header{
        .header__body{
            justify-content: space-between;
            flex-direction: row;
            .header__burger{
                position: relative;
                display: block;
                height: 20px;
                &:before,
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    height: 3px;
                    background:#fff;
                    left: 0;
                }
                &:before{
                    width: 27px;
                    top: 0;
                }
                &::after{
                    width: 12px;
                    bottom: 0;
                }   
                span{
                    display: block;
                    position: absolute;
                    top: 8px;
                    width: 20px;
                    height: 3px;
                    background:#fff;
                }
            }
            .menu__nav{
                position: absolute;
                height: 100vh;
                left: -200%;
                top: 0;
                background: #333333;
                padding: 140px 39px 47px;
                transition:.3s;
                z-index: 2;
                overflow: auto;
                &.active{
                    left: 0;
                }
                .close__burger{
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    top: 30px;
                    right: 30px;
                    &::before,
                    &::after{
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background:#fff;
                    }
                    &::before{
                        top: 0;
                        transform: rotate(-45deg);
                    }
                    &::after{
                        top: 0;
                        transform: rotate(45deg);
                    }
                }
                .menu__list{
                    flex-direction: column;
                    align-items: left;
                    .menu__item{
                        font-size: 16px;
                    }
                    .menu__item:not(:first-child){
                        margin: 50px 0 0 0;
                    }
                }
                .messenger{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    justify-items: center;
                    margin-top: 95px;
                    a{
                        width: 100%;
                        height: 45px;
                        &:hover svg{
                            fill: $color;
                        }
                        svg{
                                fill: #C4C4C4;
                                display: inline-block;
                                height: content;
                                transition: .3s;
                                width: 45px;
                                height: 45px;
                                &:nth-child(2){
                                    width: 15px;
                                }
                                use{
                                    width: 100%;
                                    height: 100%;
                                }
                        }
                        
                    }
                }
            }
            .phone{
                margin-top: 0;
            }
        }
    }
    .main__information{
        aside{
            display: none;
            .messenger{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
            }
        }
        .main__information-body{
            justify-content: center;
            padding: 100px 0;
        }
        
    }
}
@media (max-width:620px) {
    .button {
        font-size: 15px;
        padding: 16px 35px;
        line-height: 17px;
    }
    .header{
        &__body{
            .menu__nav{
                padding: 75px 39px 47px;
                .menu__list{
                    .menu__item{
                        font-size: 16px;
                    }
                    .menu__item:not(:first-child){
                        margin: 25px 0 0 0;
                    }
                }
            }    
        }
    }
    .main__information{
        .main__information-body{
            margin-left: 0;
            justify-content: start;
            .information{
                // padding-top: 160px;
                h1{
                    font-size: 50px;
                    line-height: 60px;
                }
                p{
                    font-size: 12px;
                    margin: 25px 0;
                }
            }
            
        }
        
    }
}
@media (max-width:550px) {
    .about{
        padding: 40px 0;
        &__body{
            &-content{
                margin-top: 70px;
                .about__item{
                    h3{
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                }
                .about__item:first-child{
                    p{
                        font-size: 12px;
                        line-height: 130%;
                    }
                }
                .about__item:nth-child(2){
                    margin: 0 0 0 20px;
                    svg{
                        width: 70px;
                        height: 70px;
                        use{
                            width: 70px;
                            height: 70px;
                        }
                    }
                    p{
                        font-size: 11px;
                        line-height: 18px;
                        margin: 15px 0 25px;
                    }
                }
            }
        }
    }
}
@media (max-width:450px) {
    .main__information{
        .main__information-body{
            margin-left: 0;
            .information{
                h1{
                    font-size: 40px;
                    line-height: 40px;
                }
                p{
                    font-size: 12px;
                    margin: 25px 0;
                }
            }
            
        }
        
    }
    .about{
        padding: 40px 0;
        &__body{
            &-content{
                margin-top: 70px;
                .about__item{
                    h3{
                        font-size: 11px;
                        margin-bottom: 20px;
                    }
                }
                .about__item:first-child{
                    p{
                        font-size: 12px;
                        line-height: 120%;
                    }
                }
                .about__item:nth-child(2){
                    margin: 0 0 0 20px;
                    svg{
                        width: 70px;
                        height: 70px;
                        use{
                            width: 70px;
                            height: 70px;
                        }
                    }
                    p{
                        font-size: 11px;
                        line-height: 18px;
                        margin: 15px 0 25px;
                    }
                }
            }
        }
    }
}
@media (max-width:355px) {
    .about{
        padding: 40px 0;
        &__body{
            &-content{
                margin-top: 70px;
                .about__item{
                    h3{
                        font-size: 10px;
                        margin-bottom: 20px;
                    }
                }
                .about__item:first-child{
                    p{
                        font-size: 9px;
                        line-height: 100%;
                    }
                }
                .about__item:nth-child(2){
                    margin: 0 0 0 20px;
                    svg{
                        width: 70px;
                        height: 70px;
                        use{
                            width: 70px;
                            height: 70px;
                        }
                    }
                    p{
                        font-size: 10px;
                        line-height: 15px;
                        margin: 10px 0 17px;
                    }
                }
            }
        }
    }
}